html,body{
   height: 100vh;
   width: 100vw; 
   margin: 0;
   padding: 0;
   /* font-family: lato; */
}
*,*::before,*::after{
    box-sizing: border-box;
}
/* utils */
.text-center{
    text-align: center;
}
.fw-b{
    font-weight: bold;
}
.d-flex{
    display: flex;
}
.container{
    display: flex;
    height:100vh;
}
.sign_in-section{
    background-color: #00AD7F;
    width:30%;
    color:white;
    padding: 3rem;
    position: relative; 

    
}
.sign_up-section{
    background-color: #FFFFFF;
    width:70%;
}
.sign_in-section,.sign_up-section{
    height:100vh;
}
.fuji_text{
    font-size: 1.2rem;
    text-shadow: 2px 2px 3px #5ad589;
}
.welcome_text{
    font-size: 2rem;
    text-transform: capitalize;
}
.some_text{
    color: #5ae5cc;
    font-size: 14px;
    line-height: 23px;
    text-transform: capitalize;

}
.position{
    position: absolute;
    top:50%;
    transform: translateY(-40%);
    left: 3rem;
    right:3rem;
}
.sign_in-link{
    color:white;
    border:2px solid white;
    border-radius: 30px;
    padding: 15px 70px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 50px;
}

.create-text{
    text-transform: capitalize;
    color:#00AD7F;
    font-size: 2rem;
    margin-top: 4rem;
}
.icons{
    font-size: 1.5rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-inline: 1rem;
}
.text{
    color:#ababab;
    font-size: 13px;
}

form[name="signup-form"] input{
    background-color: #ecf8e8;
    border: none;
    margin-block: 1rem;
    padding: .5rem;
    padding-left: 3rem;
    border-radius: 3px;
    width:100%;

}
form[name="signup-form"] input::placeholder{
    color:#99a798;
}

form[name="signup-form"] .form-control{
    position: relative;
    width: 426px; 
    margin:auto;
}

.icon1{
    position: relative;
    left: 51px;
    color:grey;
}

form[name="signup-form"] .form-control>.bi{
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    color:#99a798;
    position: absolute;
    left:19px;
    top:24px;
    transform: translateY(35%);
}

form[name="signup-form"] input:focus+.bi{
    color: black;
}

form[name="signup-form"] button{
    background-color: #00ac7f;
    padding: 1rem 4rem;
    border:1px solid #00ac7f;
    color:white;
    border-radius: 27px;
}